page-dash-board  {
  .loader {
    background-color: #9c27b0;
    margin-left: 15%;
    margin-top: 40%;
    margin-right: 15%;
    font-size: 1.2em;
    color: #fff;
    ion-spinner * {
      margin-left: 10%;
      margin-right: 10%;
      width: 28px;
      height: 28px;
      stroke:#fff;
      fill: azure;
    }
  }
  .circular-badge {
  border-radius: 50px;
  // padding: 5px 0;
  font-size: 11px;
  background: #9c27b0;
  position: absolute;
 margin-left: -40px;
 margin-top: 13px;
 z-index: 3 !important;
}
.boxhome {
  float: right !important;
}

.top-cards {
border-radius: 16px !important;
display: flex;
flex-direction: column;
height: 85%;
box-shadow: 0 0 50px rgba(136, 141, 133, 0.56);
position: relative;

.card-circulars {

  width: 100%;
  text-align: center;
  background: white;

  .circular-img {
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }


  .circular-text {
    padding-top: 5px;
  }
}
}

.bottom-card {
border-radius: 16px !important;
height: 85%;
box-shadow: 0 0 50px rgba(136, 141, 133, 0.56);
position: relative;
.bottom-circular-img{
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.bottom-circular-text{
    padding-top: 5px;
    text-align: center;
}


}

}



/*
page-dash-board {
 ion-row{
   ion-col{
     text-align: justify;
     color: azure;
     text-transform: uppercase;
     font-size: 10px;
    // padding-top: 20px;
   }
 }
 #col-counter {
  background: rgba(96, 131, 186, 0.3);
  width: 2em;
  text-align: center;
  color: azure;
  height: 2em;
  position:relative;
  font-size: 12px;
  left: 40%;
  top: 23%;
}

#tile1 {
  height: 16em;
  background-color: #6083ba;
  border: 2px solid white;
  padding-top: 5px;
  #button1 {
    padding: 30px 15px 35px 5px;
    background-color: #6083ba;
  }
}

#tile2 {
  height: 16em;
  background-color: #e54053;
  border: 2px solid white;
  padding-top: 5px;
  #button2 {
    padding: 30px 15px 35px 5px;
    background-color: #e54053;
  }
}

#tile3 {
  height: 16em;
  background-color: #b161e2;
  border: 2px solid white;
  padding-top: 5px;
  #button3 {
    padding: 30px 15px 35px 5px;
    background-color: #b161e2;
  }
}

#tile4 {
  height: 16em;
  background-color: #edaa2d;
  border: 2px solid white;
  padding-top: 5px;
  #button4 {
    padding: 30px 15px 35px 5px;
    background-color: #edaa2d;
  }
}

#tile5 {
  height: 16em;
  background-color: #1cddc7;
  border: 2px solid white;
  padding-top: 5px;
  #button5 {
    padding: 30px 15px 35px 5px;
    background-color: #1cddc7;
  }
}

#tile6 {
  height: 16em;
  background-color: #379945;
  border: 2px solid white;
  padding-top: 5px;
  #button6 {
    padding: 30px 15px 35px 5px;
    background-color: #379945;
  }
}

#col7 {
  height: 16em;
  padding-top: 50px;
  text-align: center;
  background-color: #379945;
  border: 2px solid white;
}
} */


